################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestHakerRank/.vs/TestHackerRank/v16
/TestHakerRank/bin/Debug/netcoreapp3.1
/TestHakerRank/obj/Debug/netcoreapp3.1
/TestHakerRank/obj
